.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body {
  width: 100vw;
  height: 100vh;
  background-color: #d9afd9;
  background-image: linear-gradient(0deg, #d75a44 0%, #d2e1e3 100%);
}
.container1 {
  width: 500px;
  background-color:  #60e4a4;
  height: 15rem;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 11%;
}

.container2 {
  width: 500px;
  background-color: #5bbdde;
  height: 15rem;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 11%;
  
}
.mainHead {
  text-shadow: 5px 4px 4px #566877;
}
.flexbutton {
  width: 99%;
  display: flex;
  justify-content: space-around;
  position: absolute;
  top: 10%;
  text-align: center;
}

.button1 {
 
  padding: 20px;
  border-radius: 20px;
  left: 27%;
  margin-top: 5%;
  box-shadow: 5px 4px black;
}

.button2 {
  padding: 20px;
  border-radius: 20px;
  margin-top: 5%;
  right: 27%;
  box-shadow: 5px 4px black;
}
.flexBox2{
  width: 99%;
  display: flex;
  justify-content: space-around;
  position: absolute;
  top: 25%;
  text-align: center;
}